.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  max-width: var(--container-width, auto);
  margin: 17px auto 0;
  padding: 72px 0 144px;
}

.titleDescription {
  max-width: 650px;
}

.image {
  width: var(--image-width, clamp(100%, 100vw, 1600px));
  height: 1000px;
  margin-top: 26px;
  object-fit: none;
}
